/* 본문 */
.banner h2{margin: 50px 0px; text-align: center;}
.banner-img{display: flex;}
    .banner-img>div{margin:10px; flex:1 1 0;}

footer img{width: 100%; border-top: solid 1px rgb(253, 4, 83);
           margin-top:100px;}
